.crm-navbar {

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  padding: 10px;

  .brand {

  }

  .links {
    display: flex;
    justify-content: center;
  }

  .actions {

  }
}