.crm-navbar {

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  padding: 10px;

  .brand {

  }

  .links {
    display: flex;
    justify-content: center;
  }

  .actions {
    .current-user {
      display: flex;
      align-items: center;
      gap: 10px;
      .avatar {
        img {
          border-radius: 50%;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}