.static-pages-navbar {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 10px;

  .navbar-brand {
    color: #d72b2b;
    font-weight: bold;
    padding: 10px;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: center;

    .item {
      color: #000;
      &:hover {
        color: #d72b2b;
        cursor: pointer;
      }
    }
  }

  .actions {
    display: flex;
    gap: 20px;
    .item {
      padding: 2px 20px;
      font-weight: bold;
      text-decoration: none;
      color: black;
      border-radius: 10px;

      &.enter-to-crm {
        background: tan;
      }

      &.sign-out {
        background: crimson;
      }

      &.sign-in {
        background: dodgerblue;
      }

      &.sign-up {
        background: darkseagreen;
      }
    }
  }
}